<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список инструкторов</title>
</head>
<body>
<h1>Список инструкторов</h1>
<form action="/instructors/add" method="post">
    <input type="text" name="name" placeholder="Имя" required>
    <input type="text" name="lastName" placeholder="Фамилия" required>
    <input type="text" name="firstName" placeholder="Отчество" required>
    <input type="text" name="middleName" placeholder="Дополнительное имя" required>
    <button type="submit">Добавить инструктора</button>
</form>

<h2>Все инструкторы:</h2>
<ul>
    <th:block th:each="instructor : ${instructors}">
        <li>
            <span th:text="${instructor.name} + ' ' + ${instructor.lastName} + ' ' + ${instructor.firstName} + ' ' + ${instructor.middleName}"></span>
            <form action="/instructors/update" method="post" style="display:inline;">
                <input type="hidden" name="id" th:value="${instructor.id}"/>
                <input type="text" name="name" placeholder="Имя" required/>
                <input type="text" name="lastName" placeholder="Фамилия" required/>
                <input type="text" name="firstName" placeholder="Отчество" required/>
                <input type="text" name="middleName" placeholder="Дополнительное имя" required/>
                <button type="submit">Обновить</button>
            </form>
            <form action="/instructors/delete" method="post" style="display:inline;">
                <input type="hidden" name="id" th:value="${instructor.id}"/>
                <button type="submit">Удалить</button>
            </form>
        </li>
    </th:block>
</ul>
</body>
</html>

